# Sesión 3: EDA con DataFrames y Series

## Objetivo

 El objetivo de esta sesión es realizar un EDA sin visualización usando Pandas de Python.

## Leer datos en `pandas`




Una forma popular de guardar datos es en archivos .csv y luego leer esos archivos en Python usando Pandas. Los archivos .csv son archivos de texto plano (o sin formato) que almacenan los datos en forma de tablas, separando los valores de las columnas usando comas.

Para leer un archivo .csv en `pandas` primero debes importar la libreria, (por convención, se usa el alias `pd`), luego llamas a la función `read_csv()`:

~~~python
import pandas as pd
pd.read_csv("path/to/file.csv")
~~~

En este challenge, utilizaremos los datos venta de una tienda en linea, que puedes descargar [aquí](https://www.kaggle.com/kyanyoga/sample-sales-data/version/1)

**1. Veamos las primeras 5 filas de nuestros datos usando **`.head()`**:

In [ ]:
# Escribe tu código aquí

   ORDERNUMBER  QUANTITYORDERED  ...  CONTACTFIRSTNAME  DEALSIZE
0        10107               30  ...              Kwai     Small
1        10121               34  ...              Paul     Small
2        10134               41  ...            Daniel    Medium
3        10145               45  ...             Julie    Medium
4        10159               49  ...             Julie    Medium

[5 rows x 25 columns]

## Pregunta:
*  ¿Qué tipo de información contiene el archivo?

**2. Veamos las últimas 27 filas de nuestros datos usando **`.tail()`**:

In [ ]:
# Escribe tu código aquí

**3. Veamos la columna COSTUMERNAME usando Pandas Series**

In [ ]:
# Escribe tu código aquí

**4. ¿Qué cantidad de datos tiene el DataFrame? Imprime el resultado indicando el número de filas y columnas**

In [ ]:
# Escribe tu código aquí

**5. ¿Cuántas columnas tiene el DataFrame? ¿Lista los nombres de las columnas?**

In [ ]:
# Escribe tu código aquí

**6. Verifica el número de observaciones no faltantes usando**`.tail()`**:

In [ ]:
# Podemos observar el número de observaciones non-null presentes en el número de entradas con el siguiente código

**7. Verifica la suma de valores faltantes por columna**

In [ ]:
# Escribe tu código aquí

**8. Veamos el tipo de datos por columna. Escribe el nombre de al menos 3 características/variables tipo entero**

In [ ]:
# Escribe tu código aquí

**9. Veamos una descripción de los valores de las columnas numéricas del DataFrame de forma transpuesta**

In [ ]:
# Escribe tu código aquí

**10. Podemos observar que columna `ORDERDATE` es de tipo *object*, que generalmente se refiere al tipo `str` o cadena de texto. Conviértelos al tipo correcto**

In [ ]:
# Escribe tu código aquí

**11. Haz la siguiente selección de datos utilizando sentencias condicionales:**

In [ ]:
# Filtra las ordenes con ventas mayores a $2,000


# Selecciona los paises donde se han realizado ordenes


# Selecciona el número de productos únicos


# Selecciona las ciudades de USA donde se han realizado ordenes

**12. Haz una selección usando múltiples condiciones**

In [ ]:
# Filtra los planes que fueron cancelados en el año 2014

**13. Agrupa los datos del DataFrame por país**

In [ ]:
# Muestra el resultado de la agrupación para las primeras 16 filas usando head

**14. Veamos el valor promedio de las órdenes por país**

In [ ]:
# Escribe tu código aquí

**15. Veamos el número de productos por tipo**

In [ ]:
# Escribe tu código aquí

**16. Ordena por la fecha de orden de forma descendente**

In [ ]:
# Escribe tu código aquí

-------